<!DOCTYPE html>
       <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    html body{
        margin: 0;
        padding: 0;
    }
    .coint{
        left: 0;
        top: 0;
        position: absolute;
    }
    ul{
        /*float: right;*/
        right: 100px;
        position: absolute;
        top: 100px;
    }
    /* li{

    } */
</style>
<!-- <link rel="stylesheet" href="/stylesheets/daohang.css"> -->
<link rel="stylesheet" href="/stylesheets/practice2.css">
<!-- <link rel="stylesheet" href="/stylesheets/banner-pc.css"> -->

<script src = "/javascripts/dh.js"></script>
<script src = "/javascripts/practice2.js"></script>
<body>
  
<!-- 
        <ul class="list">
            <li>设置首页</li>
		<li>手机新浪网</li>
		<li>移动客户端</li>
		<li>博客</li>
		<li>微博</li>
		<li>关注我</li>
	</ul> -->
<!--<div class = "box">-->
    <!--<div class = "banner">-->
        <!--<div class = "content">-->
            <!--<div>-->
                <!--<a href="#">-->
                    <!--<img src="/images/banner1.jpg" alt="">-->
                <!--</a>-->
            <!--</div>-->
            <!--<div>-->
                <!--<a href="#">-->
                    <!--<img src="/images/banner2.jpg" alt="">-->
                <!--</a>-->
            <!--</div>-->
            <!--<div>-->
                <!--<a href="#">-->
                    <!--<img src="/images/banner3.jpg" alt="">-->
                <!--</a>-->
            <!--</div>-->
            <!--<div>-->
                <!--<a href="#">-->
                    <!--<img src="/images/banner4.jpg" alt="">-->
                <!--</a>-->
            <!--</div>-->
            <!--<div>-->
                <!--<a href="#">-->
                    <!--<img src="/images/banner1.jpg" alt="">-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class = "btn">-->
            <!--<div class = "btn-left">-->
                <!--<a href="#"><</a>-->
            <!--</div>-->
            <!--<div class = "btn-right">-->
                <!--<a href="#">></a>-->
            <!--</div>-->
        <!--</div>-->


        <!--<ul class = "point">-->
            <!--<li class = "active"></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/images/banner1.jpg" alt="...">
<ul>
    <li><a href="#">1111111111</a></li>
    <li><a href="#">1111111111</a></li>
    <li><a href="#">1111111111</a></li>
    <li><a href="#">1111111111</a></li>
    <li><a href="#">1111111111</a></li>
    <li><a href="#">1111111111</a></li>
</ul>
            <div class="caption">
                <h3>欢迎</h3>
                <p>如有侵权行为必究</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>