dt.category_title{ background-color:#f6f6f6;;margin:0;padding:0;line-height:35px;border:1px solid #dddddd;border-bottom:none;text-indent:10px;font-size:16px;font-weight:bold}
dd.category{border:1px solid #dddddd;border-top:none;margin:0px 0px 20px 0px;padding:10px;}
dd.category a{display:inline-block;margin-right:15px;line-height:30px;font-size:14px}

dd.catlist{border:1px solid #e9e9e9;overflow:hidden; border-top:none}
dd.catlist li{padding:15px 20px 10px 20px;border-top:1px solid #e9e9e9;height:100px;overflow:hidden}
dd.catlist li.f_l{padding-right:10px;}
dd.catlist li.f_r{padding-left:5px}
dd.catlist li:hover{background-color:#fffcee}
dd.catlist li div.f_r{line-height:28px;text-align:center;padding-top:10px;}
dd.catlist li div.f_r a{background-color:#ff6600;color:white;display:inline-block;padding:0px 10px;border-radius:3px;}

div.list_title{margin-left:10px;width:600px;overflow:hidden;margin-top:5px;}
div.list_title a{font-size:16px;font-weight:bold;color:#007aff;padding-top:2px;display:inline-block}
div.list_title p{margin:0px;line-height:25px;white-space: nowrap;}
div.list_title p a{font-size:14px;color:#999999;}
div.list_title a:hover{color:#ff6600}

h1.title{text-align:center;color:#555555;margin:0px 0px 10px 0px;padding:0px 0px 10px 0px;border-bottom:1px dashed #dddddd;}
#info{text-align:center;color:#999999;margin:0px;padding:0px;}
dd.sell_show{border:1px solid #dddddd;overflow:hidden;border-top-left-radius:3px;border-top-right-radius:3px;padding:10px 20px;}
.curProvinceCity{background-color:#f5f5f5;line-height:33px;text-indent:10px;}
#content{line-height:22px;overflow:hidden;color:#666666;float:left;width:100%;}
#content a{color:#007aff;}
#content a:hover{color:#ff6600;}
dd.keytags{border:1px solid #dddddd;border-bottom-left-radius:3px;border-bottom-right-radius:3px;border-top:none;line-height:35px;text-indent:10px;font-size:14px;background-color:#f6f6f6}
dd.keytags a{color:#007aff;}
dd.keytags a:hover{color:#ff6600; text-decoration:underline}

dd.tuijian{border:1px solid #dddddd;margin-top:15px;border-top:2px solid #ca1313;border-top-left-radius:3px;border-top-right-radius:3px;overflow:hidden}
h2.tuijian_title{background-color:#f7f7f7;overflow:hidden;height:35px;margin:0px;border-bottom:1px solid #dddddd;font-size: 16px;}
h2.tuijian_title strong{background-color:#ca1313;padding:7px 10px 9px 15px;color:white;display:inline-block;}

ul.hot_major{margin:0px}
ul.hot_major li{width:48.5%;padding:10px 0px;border-bottom:1px dashed #999999}
ul.hot_major li.f_l{border-right:1px dashed #999999;padding-right:10px;}
ul.hot_major li.f_r{padding-right:8px}
ul.hot_major li:hover{background-color:#fffcee}
ul.hot_major div.list_title{margin-left:10px;width:300px;overflow:hidden;margin-top:5px;white-space:nowrap}
ul.hot_major div.list_title a{font-size:16px;font-weight:bold;color:#007aff;padding-top:2px;display:inline-block}
ul.hot_major div.list_title p{margin:0px;line-height:25px;white-space: nowrap;font-size:14px}
ul.hot_major div.list_title p a{color:#999999;font-size:14px}
ul.hot_major div.list_title a:hover{color:#ff6600}
ul.hot_major li div.f_r{line-height:28px;text-align:center;padding-top:10px;}
ul.hot_major li div.f_r a{background-color:#ff6600;color:white;display:inline-block;padding:0px 10px;border-radius:3px;}

dd.about{margin:15px 0px 0px 0px;border:1px solid #dddddd;overflow:hidden;padding:0px;}
dd.about h3{background-color:#f6f6f6;color:#999999;font-weight:normal;margin:0px;padding:0px;line-height:35px;text-indent:10px;}
dd.about ul{color: #bbb;padding-left:10px;}
dd.about ul li{line-height:30px;width:470px;float:left;margin-left: 18px;list-style: disc;font-size:14px }

dd.sell_show ul.f_l {width:400px;}
dd.sell_show ul.f_l li{line-height:30px;color:#999999}
dd.sell_show ul.f_l li.sell_slide{margin:20px 0px 0px 0px;line-height:15px}

dd.sell_show div.f_r{ background:#F8F8F8 url(../image/bm.png) no-repeat -2px -2px;border-radius:5px;margin-top:5px;}
dd.sell_show div.f_r ul{width:400px;padding:10px;margin:20px 0px 0px 20px;}
dd.sell_show div.f_r ul li{line-height:30px;color:#999999;border:1px solid #eeeeee;width:335px;margin:15px 20px;padding:0px 0px 0px 5px;background:#ffffff;font-size:12px;}
dd.sell_show div.f_r ul li span{width:45px;display:inline-block}
dd.sell_show div.f_r ul li input.input_box{font-size:12px;border:none;outline:medium;width:230px;}
dd.sell_show div.f_r ul li.btn{background:none;border:none; padding:0px}
dd.sell_show div.f_r ul li.btn .submit{border:none;background-color:#ff6600;color:white;font-size:24px;padding:5px 25px;border-radius:3px;}

ul.intro_list{overflow:hidden;padding:0px;}
ul.intro_list li{padding:10px 10px 0px 10px;border-bottom:1px dashed #dddddd;overflow:hidden}
ul.intro_list li div.f_l{width:80%}
ul.intro_list li div.f_r{background-color:#fff9d7;display:inline-block;padding:10px 5px;border-radius:3px;color:#ef9445;font-weight:bold;text-align:center;line-height:25px;font-size:14px;margin:15px 0px 0px 0px;}
ul.intro_list li a{font-weight:bold;line-height:20px;font-size:16px;color:#007aff}
ul.intro_list li p{margin:0px; padding:5px 0px 10px 0px;color:gray;line-height:22px;}
ul.intro_list li:hover{background-color:#fffcee;}